html {
    cursor: default;
}

header[role=main] {
    margin-top: 25px;
    margin-left: 40px;    
    margin-bottom: 10px;
}

input[type=text].todo-text {
    color:#fff;
    margin-left: 40px;    
    background-color:#b6ff00;
    min-height:50px;
    width:378px;
    font-size: 30px;
    padding:10px;
}

header[role=main] h1
{
    padding-top: 6px;
    color:#808080;
}

#todoList {
    margin-left: 40px;  
    
}

#todoList .item-container {
    min-height:60px;
    width:400px;
    background-color:#ffd800;
    border: 1px solid #b6ff00;   
    margin-bottom : 5px;   
    margin-top : 5px;   
    z-index : 5;
}
#todoList .item-container .item-title {
    font-size: 30px;
    color:#fff;
    padding:10px;
}

